* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kumbh Sans", serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: line;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 1000px;
  display: flex;
  justify-content: center;
  position: relative;
}
main::before {
  content: "";
  position: absolute;
  background: url("../images/illustration-box-desktop.svg") no-repeat;
  background-size: contain;
  object-fit: cover;
  width: 191px;
  height: 184px;
  left: 0;
  top: 60%;
  left: 50px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 20;
}
main .container {
  width: 900px;
  height: 480px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  display: flex;
}

.image-container {
  display: flex;
  align-items: center;
  position: relative;
}
.image-container .image-woman-online {
  margin-left: -100px;
  z-index: 10;
}
.image-container .image-bg-pattern {
  position: absolute;
  right: 0px;
  bottom: -170px;
}

.faq-container {
  padding: 50px 90px;
}
.faq-container .faq-title {
  margin-bottom: 40px;
}
.faq-container .faq-item {
  /*
      When a click happens on a question or arrow icon,
      this class is added to the faq-answer class.
  */
}
.faq-container .faq-item .faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.faq-container .faq-item .faq-question .question-text {
  cursor: pointer;
}
.faq-container .faq-item .faq-question .question-text:hover {
  color: hsl(14, 88%, 65%);
}
.faq-container .faq-item .faq-question img {
  cursor: pointer;
}
.faq-container .faq-item .faq-answer {
  max-height: 0px;
  margin-top: 10px;
  overflow: hidden;
  transition: max-height 1s;
  color: hsl(240, 6%, 50%);
  font-size: 14px;
  line-height: 20px;
}
.faq-container .faq-item .show_answer {
  max-height: 60px;
}
.faq-container .faq-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: hsl(240, 5%, 91%);
  margin-top: 8px;
}

@media (max-width: 375px) {
  main {
    width: 80%;
    height: 480px;
    align-items: center;
  }
  main::before {
    display: none;
  }
  main .container {
    width: 100%;
    height: 100%;
    overflow: visible;
    flex-direction: column;
  }
  .image-container {
    justify-content: center;
  }
  .image-container .image-woman-online {
    width: 200px;
    margin-left: 0px;
    margin-top: -90px;
    z-index: 10;
  }
  .image-container .image-bg-pattern {
    position: absolute;
    width: 200px;
    bottom: 0px;
    top: 40px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .faq-container {
    margin-top: 20px;
    padding: 10px 20px;
  }
  .faq-container .faq-title {
    text-align: center;
  }
  .faq-container .faq-item .faq-question {
    font-size: 13px;
    margin-top: 20px;
  }
  .faq-container .faq-item .faq-answer {
    font-size: 12px;
  }
  .faq-container .faq-item .show_answer {
    max-height: 60px;
  }
  .faq-container .faq-item::after {
    margin-top: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
